@page
@model CRM.Pages.Salespersons.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Salesperson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Salesperson.FirstName" class="control-label"></label>
                <input asp-for="Salesperson.FirstName" class="form-control" />
                <span asp-validation-for="Salesperson.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesperson.LastName" class="control-label"></label>
                <input asp-for="Salesperson.LastName" class="form-control" />
                <span asp-validation-for="Salesperson.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesperson.Email" class="control-label"></label>
                <input asp-for="Salesperson.Email" class="form-control" />
                <span asp-validation-for="Salesperson.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salesperson.Phone" class="control-label"></label>
                <input asp-for="Salesperson.Phone" class="form-control" />
                <span asp-validation-for="Salesperson.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
